[2017-07-06 22:14] danielsf commented on #36
@egawiser The camera team has defined +x and +y on the camera such that, when North is +y, East is +x.  If you look at the second focal plane diagram I posted (the one that almost looks like an engineering diagram), you can see that +z is into the screen.  The figure is labeled as "looking through L3 Lens."  This means that you are lying on M1M3, looking up at the focal plane.  From that perspecti

[2017-07-06 23:39] drphilmarshall commented on #36
Nice! @danielsf, all: I assume this will generate a CatSim issue? Please do
post it's URL here so we can follow along -  I love it when we generate
Project tickets :-)

[2017-07-06 23:42] cwwalter commented on #36
What do we need to change on the imSim or lsst-galsiminterface side if we want to change this in the future and the input catalog rotation sense changes?

[2017-07-06 23:58] danielsf commented on #36
@cwwalter I suspect that changing CatSim will fix ImSim automatically, since sims_GalSimInterface depends on CatSim to generate its WCS.

@drphilmarshall the relevant JIRA ticket is here

https://jira.lsstcorp.org/browse/SIM-2398

I will post a link to the actual branch when I start implementing it

[2017-07-13 05:14] danielsf commented on #36
Branches fixing this are under development:

https://github.com/lsst/sims_utils/tree/u/danielsf/fix_rotskypos

https://github.com/lsst/sims_coordUtils/tree/u/danielsf/fix_rotskypos

[2017-07-14 18:32] cwwalter opened #38 "SUNYSB Hack Day output"
A place to put hack day output.

[2017-07-14 18:42] humnaawan commented on #38
Some plots based on Dask files:

![undithered footprint](https://user-images.githubusercontent.com/12702187/28226008-8c103a76-68a2-11e7-927b-b9dc1a581049.png)

![dithered footprint](https://user-images.githubusercontent.com/12702187/28226013-8e5fbe1e-68a2-11e7-8f22-53a22ccd0250.png)

![psf hist](https://user-images.githubusercontent.com/12702187/28226020-931a8574-68a2-11e7-870a-803501f0e05d.png)

[2017-07-14 18:47] sowmyakth commented on #38
Ellipticities for different star galaxy separation value of psfMag - cmodelMag
![screen shot 2017-07-14 at 11 45 12 am](https://user-images.githubusercontent.com/13785537/28226147-f7250558-6889-11e7-9ffb-89ccf69cafbb.png)
![screen shot 2017-07-14 at 11 44 51 am](https://user-images.githubusercontent.com/13785537/28226152-f9b6374c-6889-11e7-80bb-21fe5a5e597c.png)

[2017-07-14 18:50] ellongley commented on #38
Sky locals ! Got setup at NERSC and looking at DC 1

<img width="531" alt="screen shot 2017-07-14 at 2 49 54 pm" src="https://user-images.githubusercontent.com/25040359/28226334-baaddcc0-68a3-11e7-8eba-d9f0c7416f28.png">

[2017-07-14 18:51] humnaawan commented on #38
An attempt to calculate the 2pt correlation for the (super*) extended objects.

Undithered:
Tot objects: 11288832
Tot (super) extended: 11573

Dithered:
Tot objects: 12311932
Tot (super) extended: 13932

Randoms are not ok:
Undithered:
![unditherd- random](https://user-images.githubusercontent.com/12702187/28226279-97d07cee-68a3-11e7-8305-a3d67f950c70.png)

Dithered:
![ditherd- random](https://use

[2017-07-14 19:22] SimonKrughoff commented on #38
@humnaawan @ellongley @sowmyakth you already may know this, but it is important to filter the data on certain flags.  An important one is `isPrimary`.  That flag will make sure you are not double counting where the patches overlap.

I know the flags weren't available last week, so maybe that's still an issue, but I wanted to mention it before I forgot.

[2017-07-14 19:28] humnaawan commented on #38
@SimonKrughoff yes, @fjaviersanchez pointed this out. the Dask files I used didn't have the flags (one of the possible reasons why undithered w(\theta) is much stronger on the small scales) but @cwwalter has mentioned that they will be updated. Hopefully, we can then get more reliable diagnostics.

[2017-07-15 01:46] drphilmarshall commented on #38
@sowmyakth Interesting measured ellipticity distributions! Am I right in remembering that a sawtooth distribution results from a population of thin circles at random inclinations in 3D? Puzzling out the CatSim universe from the DC1 data :-)

This makes me wonder: @cwwalter where should new additions to our science wishlists for DC2 be issued? There could be a lot of little requests for DC2 enhance

[2017-07-15 02:28] cwwalter commented on #38
I'll probably be setting up a DC2 repo like this soon.  But, I wanted to think about it and if there should be stuff in both of them and if there should really just be one etc...

[2017-07-18 15:24] TomGlanzman commented on #25
Done.

[2017-07-18 15:24] #25 closed

[2017-07-19 18:10] cwwalter commented on #36
I think we want to be very careful and deliberate about when to merge these.

This will affect the output of the imSim runs so (after confirming that is all that is needed to make imSim follow this convention), we should cut over at a very defined time so we don't accidentally get files with old and new rotational conventions floating around.

[2017-07-20 03:22] danielsf commented on #36
I agree with Chris' concern.  I would like to add one of my own, however.  There is already at least one project member who is being bit by the CatSim-vs-PhoSim disagreement.  I have shipped him a branch of the code to work off of that fixes the CatSim cameramodel.  I would like to avoid being stuck in this Schroedinger's-coordinate-system state for too long, though.  All of which is to say: I vot

[2017-07-24 00:52] cwwalter commented on #22
This was added to the repository by Scott.  Closing this issue.

[2017-07-24 00:52] #22 closed

[2017-07-24 00:54] cwwalter commented on #30
@jchiang87 Are we ready to re-ingist the corrected dithered and undithered imSim runs?  I sent you a notebook last week with several ways to get at the flags. Did you get that, or are you already clear anyway on what we need to do?

[2017-07-24 00:57] cwwalter commented on #31
@humnaawan and @egawiser Just following up/triaging some old issues: Would it be straightforward to make an estimate for the question I asked in the last comment?  Specifically, is it worth doing this sort of trimming for DC2 or is that already large enough that the extra sensor simulation is fractionally unimportant?

[2017-07-24 00:58] cwwalter commented on #33
We will talk about this tomorrow but how much space do we have and where can we keep at least the partial outputs for approximately the next year or so?

[2017-07-24 01:09] cwwalter opened #39 "Characterize the issues with the PhoSim background."
At the SUNY meeting we discussed how feasible it would be to either try to fix the background level  for at least some of the exposures by adding a flat background on top of the sky source retraced ones, or possibly to consider if the field could be used as a kind of DDF test.  @egawiser also made some relevant comments on correlated noise (Eric could you mention that here?).

We decided that the

[2017-07-24 01:42] fjaviersanchez commented on #39
@cwwalter I am working on the first part. About the second part, I am not sure if I understand the second part well. Do you mean the background's variation in the coadds or the variation in the individual visits as a function of the altitude?

[2017-07-24 01:44] cwwalter commented on #39
The second.

We don't know the function and we also don't know if it is mostly 1/8 or 1/2 etc etc..

[2017-07-25 13:07] ellongley commented on #38
![exts_flux fluxerr](https://user-images.githubusercontent.com/25040359/28573289-35fdc986-7118-11e7-898b-e360a5f72893.png)
![stars_flux fluxerr](https://user-images.githubusercontent.com/25040359/28573291-36050a0c-7118-11e7-9c06-45b709740682.png)

@fjaviersanchez  Is this a bit what you meant by "2D histogram with the median SNR (flux/fluxerr) as a function of position in the sky" I selected the s

[2017-07-25 14:20] fjaviersanchez commented on #38
@ellongley Good job! It looks kind of high for the median (I expected it to be ~20 or 30). Are you sure that you are plotting the median and not accumulating the SNR in each pixel -- i.e. `plt.hist2d(ra,dec,weights=SNR)` (which is also interesting)?

[2017-07-25 14:53] cwwalter opened #40 "Track items for which reprocessing would be helpful"
As we find issues and missing items in the current DC1 processing we might want to think about doing a DM reprocess at some point (probably after then next major DM release). This issue is to track items (or upgrades) we know about so we can make an informed decision at that time.  Add new items to this list as they come up.

- The stack now has a new/different astrometry solver.
- We didn't inclu

[2017-07-25 17:07] ellongley commented on #38
yes it is the median! thank you !

[2017-07-25 17:13] cwwalter commented on #38
Is this one patch?

[2017-07-25 17:15] cwwalter commented on #38
Maybe a 1d distribution of the the values would be useful?

[2017-07-25 17:28] fjaviersanchez commented on #38
@ellongley
It is kind of weird that you get such high values but let's make more tests. What if you use less bins (like 15 x 15)?
This is the distribution of SNR that I get for one patch:
![image](https://user-images.githubusercontent.com/13971732/28584848-07cfb168-7123-11e7-8ddf-eff0a9912288.png)

I get a median value of ~18.9 for the entire patch so I expected the median to be close to that too.

[2017-07-25 22:16] cwwalter opened #41 "Produce new truth catalogs directly from CatSim"
I believe the current star and galaxy truth catalogs were produced by @jchiang87 by processing the instance catalogs.

Perhaps here?
https://github.com/LSSTDESC/pserv/tree/u/jchiang/add_imsim_truth/sql

One of consequences of this is that the disk and bulge components of galaxies are entered separately int the truth tables (as this is how they are simulated).  We should probably generate the truth

[2017-07-26 15:33] cwwalter opened #42 "Prepare subset (single patch?) of data to transfer to lsst-dev for QA setup"
@laurenam from DM at Princeton has a set of QA scripts that make diagnostic plots to check the quality of the DM processing.  Look here to see examples at used for HSC:

https://jira.lsstcorp.org/browse/DM-10044

If we make a subset of the data (perhaps one patch?) and get it to lsat-dev Lauren has offered to make the tweaks to get her scripts to run on our output.  Thanks Lauren!  Then, we can in

[2017-07-26 18:49] fjaviersanchez commented on #39
@cwwalter These are the plots with the sky-background that you were asking for:

![image](https://user-images.githubusercontent.com/13971732/28637897-fe0176f0-71f7-11e7-812c-ab0521413eac.png)
![image](https://user-images.githubusercontent.com/13971732/28637907-0849c482-71f8-11e7-8a54-bb418a121332.png)
![image](https://user-images.githubusercontent.com/13971732/28637977-4a2c582e-71f8-11e7-97e7-9fa9

[2017-07-26 18:53] fjaviersanchez commented on #39
Also just for completeness the variation with azimuth (which looks to be none)
![image](https://user-images.githubusercontent.com/13971732/28638221-074c1c00-71f9-11e7-970b-902d81a8f231.png)

[2017-07-27 04:56] fjaviersanchez commented on #39
Density in PhoSim coadds:

![image](https://user-images.githubusercontent.com/13971732/28654130-c64f566a-7246-11e7-93f8-307d37e85e46.png)

Depth in PhoSim coadds:

![image](https://user-images.githubusercontent.com/13971732/28654947-0b41052e-724d-11e7-9f80-ab6540c6eeae.png)

[2017-07-27 21:29] cwwalter commented on #39
Is density number of visits? That seems to high...

[2017-07-27 22:14] laurenam commented on #42
I basically need the outputs of a processing run in a properly butlerized repo (I usually think of this as a given processing as a *rerun*).  For the visit-level analysis, a single visit will suffice to test out the code and at the coadd-level, a single patch should do (I don't need all the visit-level inputs that went into the coadd).  We have a colorAnalysis script to look at the stellar locus o

[2017-07-27 22:46] fjaviersanchez commented on #39
The density is just number of detected objects per bin in that histogram.

[2017-07-27 22:48] fjaviersanchez commented on #39
Also some more plots:

![image](https://user-images.githubusercontent.com/13971732/28695216-bc81e016-72e2-11e7-9ed2-91d1fe829e76.png)

Here I am making a 2D histogram of the difference of the measured-input magnitude as a function of the measured magnitude for all the stars (`base_ClassificationExtendedness_values==0`, `detect_isPrimary==0`) in 50 randomly selected (single) visits for PhoSim. I ma

[2017-07-28 03:32] cwwalter commented on #42
Thanks!

The think that I am a bit confused by (and it is probably trivial) is that we have a properly butlerized repo.  But, it has 75Tb in it!  So, I'm not sure how to copy just the pieces out of it you need.  Is that obvious?

Yes, DC1 is 40 sq degrees in r-band only.  DC2 will likely by 300 sq degrees in all 6 bands.

[2017-07-28 04:20] cwwalter commented on #39
Great.  Thanks. Can you make the RA plot as the 1d histograms?  It looks like PhoSim doesn't see this effect.  This might be expected because if the way proper motions are put in and take out.  @danielsf will need to comment.

[2017-07-28 05:28] danielsf commented on #39
The PhoSim InstanceCatalogs should still include proper motion.  We only meddle with precession, nutation, and aberration when transforming the PhoSim coordinate system .  We leave proper motion in.

At least: that is how the code is supposed to work.

[2017-07-28 05:32] danielsf commented on #39
How did we calculate the PhoSim truth catalogs?

[2017-07-28 17:08] laurenam commented on #42
Sorry for the confusion.  The qa scripts are run as `CommandLineTask`s, so they are very similar to running any other `CommandLineTask`s (e.g. processCcd.py).  As an example, on `lsst-dev`, I used the command:
[code]
to produce the plots for the processed single frame visit data that lives in `/datasets/hsc/repo/rerun/RC/w_2017_28/DM-11184` (and the tract information is actually required for the v

[2017-07-28 18:38] cwwalter commented on #42
Right. So this is the part I am asking for help on.

We have 75 TB of stuff in these directories.
[code]

Each of the directories has all of the visits in them.  So, is there a straightforward way for us to extract what you need?

[2017-07-28 19:00] laurenam commented on #42
Ok, looking at `LsstSimMapper.yaml`, I think I need:

- _mapper
- calexp/v${VISIT}-f${FILTER}/*
- config/*
- deepCoadd/skyMap.pickle
- deepCoadd-results/${FILTER}/${TRACT}/${PATCH}/*
- deep_assembleCoadd_metadata/${FILTER}/${TRACT}/${PATCH}.boost
- registry.sqlite3
- schema/*
- src/v${VISIT}-f${FILTER}/*
- srcMatch/v${VISIT}-f${FILTER}/*

Also, I will need to be able to setup and use the same refe

[2017-07-28 21:42] fjaviersanchez commented on #39
This is the 2D histogram (above I was using all stars that were matched within 1 pixel distance) here I am representing all of them:

![image](https://user-images.githubusercontent.com/13971732/28737346-f31fd2f2-73a2-11e7-8499-48f2a884a99d.png)

[2017-07-30 19:51] cwwalter commented on #42
I'm going to let @SimonKrughoff answer or point you to the correct person (either @danielsf or @jchiang87 may also know).

Is there someone interested in working with Lauren to copy these files for her and then later using her DM QA scripts to run on our output?  @jamesp-epcc Would you be interested in this as a way to start to get familiar with the output?

[2017-07-31 10:57] jamesp-epcc commented on #42
Yes, I am happy to give this a go. It sounds like a good way to get familiar with the data.

[2017-07-31 11:56] jamesp-epcc commented on #42
Sorry for asking such a basic question, but what is the full path to the "DC1-imsim-dithered" directory on Cori? I've had a look in a few places but can't find it. It may be in a location that I don't currently have permission to access...

[2017-07-31 14:43] cwwalter commented on #42
/global/cscratch1/sd/descdm/DC1/DC1-imsim-dithered

[2017-07-31 15:08] danielsf commented on #42
You can find the DC1 reference catalog at

/project/projectdirs/lsst/danielsf/dc1_reference_catalog_8deg_radius.txt

[2017-07-31 15:14] jamesp-epcc commented on #42
Thanks. I am able to access the data now. I have written a script that extracts the files Lauren listed above for a single visit and single patch. This comes to about 5 or 6GB for the ones I have tried so far. What would be the best way to transfer this data to Lauren?

[2017-07-31 15:18] cwwalter commented on #42
Lauren needs this data on lsst-dev. This is a machine used by the LSST developers at the NCSA center in Illinois.  I don't have access to the machine but there are many who do.  We need to find someone who can copy the data there (since Lauren doesn't have access to NERSC).  Simon is out for a few days since he is in the process of moving to Tucson.

Who is a good candidate for this?

[2017-07-31 15:23] jamesp-epcc commented on #42
I don't have access to lsst-dev myself, but I have put the extracted data in /project/projectdirs/lsst/jamesp/extracted on Cori, where I believe someone else on the project should be able to read it. (This data is for visit 1993939 and patch 18,13 but I can easily rerun the script if a different visit or patch is preferable).

[2017-07-31 15:25] jchiang87 commented on #42
I can do it.

[2017-07-31 15:26] cwwalter commented on #42
Great.

[2017-07-31 15:43] jchiang87 commented on #42
I've copied the data from `/project/projectdirs/lsst/jamesp/extracted` to `/home/jchiang/DC1/extracted` on lsst-dev.  @laurenam let me know if you have problems accessing those files.

[2017-07-31 16:04] laurenam commented on #42
[code]

@jchiang87 I think you need to give me read permission on your home dir.

[2017-07-31 17:13] jchiang87 commented on #42
@laurenam I've changed the permissions.  Please try again.

[2017-08-03 14:05] egawiser commented on #39
Going back to the background level, it would be helpful to plot background level versus moon distance and moon illumination fraction.  I suspect that the excursions from the main locus are due to moon and that we would therefore want to keep those and just add noise to correct the "dark sky" background level that's below 800 up to ~800.  That assumes that the additional moon part variation with al

[2017-08-03 16:12] egawiser commented on #39
Now onto the topic of correlated noise:  in real astronomical images, the background is non-uniform due to both to gradients in the true sky background level and contributions from the "wings" of the PSF of very bright stars and galaxies.  Background subtraction removes most of this but leaves correlated noise.  So modelling the noise as poisson i.e., uncorrelated from one CCD pixel to another, is

[2017-08-03 16:17] egawiser commented on #39
So what does this mean for correcting PhoSim simulations?  We could measure how correlated the noise is, add uncorrelated background noise to bring it up to desired levels, and then re-measure how correlated the noise is, and note how unrealistic our fix seems to have made it.  I have previously stated that I'm not worried about this for ImSim, where the initial background is probably less correla

[2017-08-03 17:12] egawiser commented on #39
A quick further note:  I have IDL code written by Ryan Quadri that calculates the (sigma1,alpha, beta) values for
sigma_N=sigma1 *alpha * N^beta
for a given FITS image.  You have to also provide a FITS segmentation map for that image, which it uses to avoid sampling the background level on detected objects.  Something like this might already exist in the DM Stack, or it could easily be re-coded in

[2017-08-03 22:52] fjaviersanchez commented on #39
Following up on today's discussion I accumulated in an Nside=512 healpix map how many visits each pixel receives. The problem is that I only used the center of each visit and I didn't take into account the overlaps between visits but, this will give us a sparse version of the "correct" map:

![image](https://user-images.githubusercontent.com/13971732/28947125-0e8ca21c-7863-11e7-9c0c-aa9ec6c74575.p

[2017-08-04 17:01] cwwalter commented on #41
I should have included @danielsf in the above issue.

[2017-08-07 21:28] cwwalter opened #43 "Resolve 20 mas astrometry bias in the DC1 datasets"
There is some discussion of this issue in #39. But, I wanted to put it into it's own issue and understand where we are on this and what our plan going forward is.

Using the dithered imSim catalog which have been matched with the reference catalog we see a 20 mas shift between the measured and true value. Stars:

<img width="403" alt="unknown" src="https://user-images.githubusercontent.com/5562740

[2017-08-07 22:16] danielsf commented on #43
Here are my plots.

Each set of 4 panels represents one of the undithered DC1 fields of view.  Each of the sub-panels represents a different cut in magnitude.  The plots show the distribution in (proper motion RA, proper motion Dec) space of the stars in the CatSim database (i.e. the data used to generate the InstanceCatalogs which were used to generate the images).  Units of the axes are milliarc

[2017-08-24 20:28] danielsf commented on #36
I looked at Jim's code in ImSim and imsim_deep_pipeline.  All of the code depends on the CatSim (RA, Dec)-to-pixel mapping, so if I fix CatSim, I will fix ImSim.  Given that DM is getting ready to merge an API change to their camera model, I am going to start the process of reviewing and merging the fix for this issue.

[2017-08-24 22:56] danielsf commented on #36
For the sake of having this written down: the problem, as always, is worse than we think.

The DM and Camera teams use different coordinate systems.  The documentation for `afwCameraGeom` says that "+x is in the direction of the serial readout".  LCA-13381 indicates that the Camera team defines +y as in the direction of the serial readout.  Comparing the position of objects in PhoSim with the resu

[2017-08-28 23:57] danielsf commented on #36
I have issued pull requests to address this issue

https://github.com/lsst/sims_GalSimInterface/pull/32
https://github.com/lsst/sims_catUtils/pull/88
https://github.com/lsst/sims_coordUtils/pull/18
https://github.com/lsst/sims_utils/pull/30

[2017-08-29 01:47] cwwalter commented on #36
Thanks for this Scott!

BTW, since I don't know the background of this: Is everyone OK with these inconsistent coordinate systems? I mean is this the plan that was agreed to and everyone understands and wants to live with forever?

[2017-08-29 16:20] danielsf commented on #36
I don't really know the history of this, either (I end up having to pester Simon every 6 months or so about this).  My impressions is that people aren't happy but that the die has been cast.

The take-away from my most recent discussion with  Simon about this was that it is worthwhile to have ImSim use the Camera team coordinate system, since that is the coordinate system used in PhoSim e-images,

[2017-08-30 18:18] cwwalter commented on #36
OK, thanks.  I'm not sure who is in charge of this interface.  I think it is probably worth just making sure everyone says they are aware of this at a high enough level while we could still conceivably change this. @connolly Who should be pinged?

[2017-09-05 20:52] laurenam commented on #42
Have you run the forced measurements on the coadds as part of DC1?  I don't see the forced source files in the directory @jchiang87 created on lsst-dev `/home/jchiang/DC1/extracted`.  Of potential note, `forcedPhotCoadd.py` gets run when using the `multibandDriver.py` driver script in `pipe_drivers`, but not when running the non-driver `multiband.py` command-line version.  My plotting scripts make

[2017-09-05 21:00] laurenam commented on #42
I *might* be able to run it myself, but I would need the contents of the `deepCoadd-results/merged/` directory for tract=0 patch=18,13.

[2017-09-05 22:32] jchiang87 commented on #42
I'm fairly certain that we don't run `forcedPhotCoadd.py` in our version of the Level 2 pipeline, but @SimonKrughoff or @tony-johnson would be able to say more definitely.   In case you want to try to run it yourself, I copied the contents of that directory from NERSC to `/home/jchiang/DC1/extracted/deepCoadd-results/merged/0/18,13` on lsst-dev.   Otherwise, if you send me the full command line, I

[2017-09-05 23:17] laurenam commented on #42
Thanks...I think I've got it running now.  For reference, the command line looks something like
`forcedPhotCoadd.py /home/jchiang/DC1/extracted/ --rerun private/lauren/DM-11452/ --id tract=0 patch=18,13 filter=r`

[2017-09-06 18:03] cwwalter commented on #42
Just for my education:

I thought forced photometry was run on all of the warped exposures in order to get the flux we see for cmodel and psf_flux.  Is that something else?

[2017-09-06 18:10] jchiang87 commented on #42
We are running `forcedPhotCcd.py` on the warped images for each visit for the lightcurves in Twinkles (but not for the DC1 data).   I think the cmodel and psf_flux measurements for DC1 are obtained from the `measureCoaddSources.py` task.   Not sure how those results would differ from the output of `forcedPhotCoadd.py`.

[2017-09-06 19:11] laurenam commented on #42
Some info on forced measurements from Jim Bosch's HSC pipeline paper (https://arxiv.org/abs/1705.06766):

![img_1433](https://user-images.githubusercontent.com/10424871/30129947-9d8206e8-9315-11e7-9aa0-16160f5492f3.PNG)

[2017-09-06 19:29] cwwalter commented on #42
Ah, so if this is forced across bands for the merged exposures, is it relevant for us since we are only using r-band in DC1?

[2017-09-06 19:51] laurenam commented on #42
Good point!  Take the above as useful information for future, multiband, releases :)

[2017-09-18 20:50] jchiang87 opened #44 "create dask dataframes for DC1 data with analysis flags"
This should be done for the Level 2 results in
[code]
at NERSC.

Here are pointers from Chris (via #desc-ci) on the dask dataframe generation script:
[code]

[2017-09-19 01:00] jchiang87 commented on #44
PR at #45

[2017-09-22 21:21] jchiang87 commented on #44
I've created the hdf files with the dataframes for the aforementioned repositories using the `make_coadd_dataframes.py` script at #45.  The files are in my scratch area:
[code]
and I've copied them to the new project area here:
[code]
@cwwalter Can we proceed with archiving the imsim-undithered and phoSim-3a repositories?  (imsim-dithered I guess should wait until we can copy it somewhere for furt

[2017-09-22 21:52] cwwalter commented on #44
Yes, but as you say let's wait on copying dithered until we know it is copied successfully given issues Tony and all are having now.

[2017-09-26 15:55] jchiang87 commented on #41
Chris already has scripts to do this from the imsim instance catalogs, so we'll take that approach for now, and will look into the CatSim-based approach for longer term usage.

[2017-10-06 17:45] jchiang87 commented on #33
Here is the status of this issue:
* Mustafa is archiving the imsim-dithered, imsim-undithered and phosim Level 2 repos to HPSS.  This takes some days to do, so it is still on-going I believe.
* Tony has copied the imsim-dithered repo to the new project space at NERSC:
[code]
This should be accessible to anyone in the `lsst` group.

[2017-10-15 02:05] cwwalter commented on #33
If the HPSS backup is now finished, can we document where it is (i.e. how to retrieve it) and close this issue?

[2017-10-15 02:06] cwwalter commented on #20
I'm not sure why this is still open...

[2017-10-15 02:06] #20 closed

[2017-10-15 19:48] cwwalter commented on #30
@jchiang87 I think we can close this now correct? Also, since you have mad the new versions with the flags etc, I think you put them in the new project area at NERSC correct? So, I think I can delete mine in the old project area but I just wanted to check.

[2017-10-15 19:50] cwwalter commented on #31
This issue was moved to LSSTDESC/DC2_Repo#5

[2017-10-15 19:50] #31 closed

[2017-10-16 03:19] jchiang87 commented on #30
yes, sure we can close this.

[2017-10-16 03:19] #30 closed

[2017-10-27 19:13] jchiang87 opened #46 "Run QA analysis scripts on DC1 output"
The procedure is described by Lauren here:
https://jira.lsstcorp.org/browse/DM-11452

[2017-10-27 19:21] jchiang87 commented on #46
@jamesp-epcc @heather999 Could you work together on this please?   We can use the new v14_0 installation for this.

[2017-10-28 00:13] heather999 commented on #46
The v14 install is in progress, but since then we've learned that the current sims tag is not compatible with v14. Scott has suggested w.2017.39 (see the sims channel).  Ok to go with that weekly plus sims or does this exercise really only need lsst_distrib?

The Slack messages on desc-sim mentioned that we might need a copy of the data copied to NERSC or is it already in your scratch space @jchia

[2017-10-28 00:38] jchiang87 commented on #46
For this exercise, we don't actually need the sims distribution.  The data for this would be the imsim-dithered output that Tony copied to the production area:
[code]
Based on the instructions at the JIRA issue, I would set ROOTDIR to that directory, and RERUNDIR to some local directory in the scratch area.

[2017-10-30 17:42] heather999 commented on #46
I tried to build the obs_lsstSim branch against v14, but I ran into an error - which looks like a compatibility issue (due to the recent camera geometry updates?):

[code]
We should coordinate on the DM JIRA to get this sorted out, I see this was previously testing using the "shared stack" (at NCSA?)  I can't currently log into the DM JIRA area to post a comment, I'll see if I can get that sorted

[2017-10-30 17:51] jchiang87 commented on #46
@laurenam Can you comment on the error that @heather999 is running into please?  Thanks!

[2017-10-30 18:03] laurenam commented on #46
This relates to the implementation of RFC-346.  In particular, among many other changes it states there that:

So, yes, you will need to update to the current CameraGeom API.  I did this for `meas_mosaic` (https://github.com/lsst/meas_mosaic/commit/c4743ab86450402eef38e2b4518de0e9613153c4), but was hand-held through it by @r-owen and would suggest asking him for help if you're unsure of anything.

[2017-10-30 18:10] laurenam commented on #46
Oh, wait, the error you're seeing is the update to the new API: https://github.com/lsst/obs_lsstSim/commit/62de841c621b01cb81e114918b8b008b1e1f252f
Perhaps v14 is pre-API change, so you may just need to revert that commit to compile against it?

[2017-10-30 18:12] heather999 commented on #46
Thanks for the response!  Yes, I'll definitely need some further directions. Was there a specific weekly that you initially started from @laurenam ?

[2017-10-30 18:15] laurenam commented on #46
I'm almost always using the "latest" weekly, so was likely last using w_2017_41 and `obs_lsstSim` compiled fine against it.  It looks like the cameraGeom API change went in on 36 (see https://lsst-web.ncsa.illinois.edu/~swinbank/changelog_weekly.html for a handy changelog).

[2017-10-30 18:20] laurenam commented on #46
Indeed, the cameraGeom update went in after the v14 tag: https://github.com/lsst/obs_lsstSim/compare/14.0...master

[2017-11-01 13:13] jamesp-epcc commented on #46
Hi, sorry for the lateness of my response to this. One of my other projects has been demanding a lot of my time this week, but happy to help out with this.

[2017-11-02 13:03] jamesp-epcc commented on #46
I've had a look at this now, but am also getting the same error when building obs_lsstSim. Please let me know if you work out how to solve this.

[2017-11-02 13:12] heather999 commented on #46
@jamesp-epcc I think I've almost got it :)  I'm working on this right now and hope to have it set up in a bit.

[2017-11-02 14:19] heather999 commented on #46
And now for a long tale.. Long story short, I need some guidance.
We have w.2017.41 with Py3 (which includes the camera geometry updates) installed at NERSC in `/global/common/software/lsst/cori-haswell-gcc/stack/w_2017_41`, owned by the shared desc account. That took a couple tries, there was a transient error when testing meas_base, which disappeared upon retry. Others can use it, and have lsst_

[2017-11-02 14:35] jamesp-epcc commented on #46
I just tried and I get the same errors as @heather999 . All I did beforehand was to source the setup_w_2017_41.sh script and run "setup lsst_distrib".

[2017-11-02 14:39] heather999 commented on #46
Out of curiosity @jamesp-epcc if you run visitAnalysis.py without the --clobber-version parameter, do you also receive an error about version mismatches?

[2017-11-02 14:41] jamesp-epcc commented on #46
@heather999 yes. Without the parameter I get the version mismatch error (though the list of mismatches appears to be in a slightly different order from yours), with --clobber-versions I get the "has_key" error.

[2017-11-02 14:53] heather999 commented on #46
Thanks @jamesp-epcc, that helps. Maybe I should be looking in the desc account's environment.
I'm inclined to try to reproduce the cal_ref_cat directories, but I cannot find the config file mentioned in the DM JIRA.
`ingestReferenceCatalog.py /scratch/lauren/rerun/DC1/ -C config/IngestIndexedReferenceTask.py`

[2017-11-02 15:06] laurenam commented on #46
This looks like a python3 incompatibility (apparently has_key() has been removed).  Give me a minute and I'll push an updated branch.

[2017-11-02 17:38] r-owen commented on #46
Good catch. `has_key` has been deprecated for some time; `foo in myDict` is the preferred alternative to `myDict.has_key(foo)` even in Python 2.

[2017-11-02 20:05] laurenam commented on #46
Sorry it took so long...it took me a while to figure out the updates needed in the mapper file (among a few other py3-isms!).  So, there are updated `tickets/DM-11452` branches pushed to both `obs_lsstSim` and `pipe_analysis` that *should* now work...let me know if they don't!

I should also note that I typically run these scripts with  `--no-versions` to avoid the issues you noted above.  Sorry f

[2017-11-02 21:26] heather999 commented on #46
Thank you @laurenam.  It's getting better!  I reinstalled obs_lsstSim and pipe_analysis and tried a new run, a couple of plots are generated, and then we receive a new error:
`visitAnalysis.py /global/projecta/projectdirs/lsst/production/DC1/DM/DC1-imsim-dithered --rerun /global/cscratch1/sd/heatherk/qa_dm_11452/rerun --id visit=1993939 --tract=0 --config doApplyUberCal=False analysis.visitClassFl

[2017-11-02 21:37] laurenam commented on #46
Oh...this looks like a `matplotlib` version incompatibility.  With the shared stack I'm using, the version is 2.0.2, and it looks like `facecolor` was added in 2.0.0.  I'm guessing you've got an older version?

[2017-11-02 21:40] heather999 commented on #46
Right - for simplicity, I've stuck with the python that the stack installs, which leaves us at matplotlib 1.5.1. I don't know why they have such an old version.  For this exercise we could upgrade, though I was hoping to set this up as a fairly vanilla stack in case we use it for other purposes.  Let me do a little inquiry into why we're at matplotlib 1.5.1 when installing w.2107.41.

[2017-11-02 22:27] heather999 commented on #46
I'm re-installing w.2017.41 to get an updated python environment.  Back in a couple hours :)

[2017-11-03 02:31] heather999 commented on #46
The build is still chugging - due to where I'm building at NERSC, it has to build on the login nodes, which likely slows this process down a bit.  Let's assume that all completes successfully and we can run the scripts. After that, the first step, I imagine, is to re-do the same test @laurenam completed to show we get the same plots and can run the comparison scripts.  After that, we would want to

[2017-11-03 04:27] jchiang87 commented on #46
@cwwalter may have some suggestions.   One thing to try would be to rerun some parts of the L2 analysis using v14 on the DC1 dithered data and compare the output vs the original DC1 analysis. Single visits would be relatively easy...just re-running processEimage.py I imagine for some selection of visits.  Comparing coadd results would mean running the L2 pipeline at least as far as we did for the

[2017-11-03 14:32] heather999 commented on #46
Things are looking good.  The w.2017.41 build is complete, and I installed obs_lsstSim and pipe_analysis and am able to run visitAnalysis and compareVisitAnalysis.  I notice one warning:
`WARNING:root:fastparquet package not available.  Parquet files will not be written.` Do we want to install fastparquet?  Is it this one @laurenam ? https://pypi.python.org/pypi/fastparquet

I will install these v

[2017-11-03 15:06] jchiang87 commented on #46
Looking back at https://jira.lsstcorp.org/browse/DM-11452, I think once you've demonstrated that you can reproduce the runs that Lauren did, this particular issue can be closed (unless Chris wants any other additional QA runs done).

I think learning how to run the current L2 pipeline would be a great thing to work on next, since we'll need to do that for the protoDC2 analysis.   I'll make a new i

[2017-11-03 15:25] jchiang87 opened #47 "Run L2 pipeline on a subset of DC1 data using v14_0 (or later)"
It would be useful to run the L2 pipeline on some of the DC1 imsim-dithered data using a more modern version of the Stack, e.g., v14_0.  This will enable us to
* use the new QA tools to see the differences between the old and new L2 outputs,
* prepare for running the L2 pipeline on the protoDC2 and DC2 data.

[2017-11-03 17:29] cwwalter commented on #46
Yes, to suggestions above.  First rerunning @laurenam 's tests and looking at them, understanding them and making sure they make sense.

Then you will find out some of what Lauren wanted to do she couldn't because our stack is too old.  So it would be good to re run with v14+.

Then there are new modules which we didn't include (like the one that returns deblendeness) we should have.  It can be a

[2017-11-03 17:57] laurenam commented on #46
Glad to hear things are now working!  @heather999, the Parquet tables are for use with an interactive and larger scale QA interface (Bokeh-based) that @timothydmorton is working on (see JIRA tickets DM-10619, DM11682, DM-12030, etc. for details).  If you are interested, I'd ping him...I know he is looking for some guinea pigs to give the infrastructure a test drive, so you could probably twist his

[2017-11-03 19:23] cwwalter commented on #46
BTW I don't know much about Parquet but I know it is now supported in the latest version of Pandas too.  The pandas authors are fans of it.

[2017-11-03 19:25] timothydmorton commented on #46
If you do want to write the parquet tables (best to do after DM-12038 is merged), then `pip install fastparquet` should enable it.  And yes, do ping me if you want to test out the interactive QA stuff.

[2017-11-06 10:23] jamesp-epcc commented on #46
The scripts are working for me as well now, since Heather updated the installation. I have compared the plots generated to the ones Lauren attached on the Jira ticket. They look similar but not identical. I don't know enough about the science to know whether the differences are acceptable or not, but if anyone wants to take a look, the plots I generated are in /global/cscratch1/sd/jamesp/dc1rerun/

[2017-11-06 17:14] laurenam commented on #46
If the data going into the scripts are the same, the plots produced *should* also be the same.  If you put your figures somewhere I can see them, I'll have a look...

[2017-11-06 17:25] heather999 commented on #46
Is it sensible to try a run of compareCoaddAnalysis and compareVisitAnalysis using your data posted to the JIRA @laurenam run against the visitAnalysis and coaddAnalysis data we produce using the same visit as input?  I've just tried to do that and have a pile of plots.  Just starting to go through them.
I did things like `compareVisitAnalysis.py /global/projecta/projectdirs/lsst/production/DC1/DM

[2017-11-06 18:48] heather999 commented on #46
Would our use of py3 rather than py2 perhaps introduce some differences?  I'm assuming the tests on lsat-dev using python 2?

[2017-11-06 19:05] laurenam commented on #46
We have certainly seen a few py3 vs. py2 differences in some processing.  I'm running the scripts using py3 now to see if I see any differences.

BTW, I don't have access to SLAC's confluence, so I can't see your plots...

[2017-11-06 19:09] heather999 commented on #46
I was wondering about that @laurenam Where would it be convenient to drop a tarball?  I could come back to the DM JIRA, perhaps..  I'm not sure if I have access to lsat-dev, let me see..

[2017-11-06 19:11] laurenam commented on #46
I was able to assign you as reviewer...I would hope that implies you have access!!

[2017-11-06 19:12] laurenam commented on #46
I'm not seeing any differences so far.  Can you tell me the name of one of the plots where you see differences (or is it all of them?).  Perhaps just post a few examples (i.e. not the whole tarball) to JIRA (if you get in, that is)?

[2017-11-06 21:32] heather999 commented on #46
sorry for the delay, yes, I'll do that asap.

[2017-11-07 02:47] cwwalter commented on #46
Could we get Heather lsst-dev access?  Looking at https://jira.lsstcorp.org/browse/DM-11452 that could help this work I think.

[2017-11-07 14:05] heather999 commented on #46
Actually I received an lsat-dev account a few weeks ago.. I'm working on trying it out now.  I just don't know anything about where things are, but I can inquire.
In the meantime, I'll respond on the DM JIRA with some ideas.  I could do it here too - I'm not sure where is best to get the right eyes looking at the commentary and to avoid too much confusion about where we've put various comments. #T

[2017-11-07 19:42] heather999 commented on #47
@tony-johnson do you have any words of wisdom about the L2 pipeline as it was run at NERSC for DC1?  Pointers to existing docs in Confluence or other GitHub issues would be welcome. In the meantime, I'll see what I can dig up.

[2017-11-07 19:51] heather999 commented on #46
@jamesp-epcc, you can view the DM JIRA too?  Just want to make sure!

[2017-11-08 09:19] jamesp-epcc commented on #46
@heather999 yes, I can view it. I don't think I have an account as I see a "Log In" button but it seems to be possible to view without one.

[2017-11-08 09:23] cwwalter commented on #46
I think doing things here (GH) generically is probably better.  For project related communication Jira is best. Most people can't comment there because they don't have project credentials and it isn't that well known to DESC people.

If there is a compelling reason to do it on lira (related to project decision making or some lira feature related to attachment etc that are needed) of course feel fr

[2017-11-08 09:31] cwwalter commented on #47
There are also options and pieces missing that either weren't in v13 or weren't turned on we should try to turn on now.

The deblendness variable was one.  @SimonKrughoff can remind us what you have to turn on to get that.

@laurenam Also mentioned there were somethings we couldn't look at in her QA scripts because the code didn't exist in V13.  We should find out what that is.  I think we should

[2017-11-08 22:20] heather999 commented on #46
Just to bring people up to date here..  after copying Jim's data from NCSA back to NERSC (where the data originally came from) we now have agreement between running the scripts at NERSC and at NCSA. I've indicated that the review is complete on the JIRA. I'll go back through the comments above to make sure we capture any bits necessary in other issues.

[2017-11-09 00:21] jchiang87 commented on #47
@heather999 @jamesp-epcc Here are some links to get you started:
* The Twinkles [L2 cookbook](https://github.com/LSSTDESC/Twinkles/blob/master/doc/Cookbook/DM_Level2_Recipe.md)
* The [DC1 workflow scripts](https://github.com/LSSTDESC/SSim_DC1/tree/master/workflows/DM)
* The [DC1-DM12 task](http://srs.slac.stanford.edu/Pipeline-II/exp/LSST-DESC/task.jsp?task=43430007) at the SLAC workflow engine

I

[2017-11-09 00:30] cwwalter commented on #44
I think we can close this now correct @jchiang87?

[2017-11-09 00:31] cwwalter opened #48 "We should add a DC1 landing page"
We should add a page on the confluence that points to the locations DC1 dataset outputs and our resources and information for how read and use the data.  I think there is no single place to point  people to now.

[2017-11-09 01:23] #44 closed

[2017-11-09 01:23] jchiang87 commented on #44
Agreed.

[2017-11-09 03:18] heather999 commented on #47
Thanks, @jchiang87
A zoom meeting would be great.  Who do we need to attend?  Are we enough?  I figure you and James P have more difficult schedules to work around so feel free to name some times.

[2017-11-09 09:31] jamesp-epcc commented on #47
A zoom meeting does sound a good idea. I could do late afternoon/evening (UK time) today or tomorrow but if that's too soon we can work something out next week.

[2017-11-09 13:58] heather999 commented on #47
Today, tomorrow, Monday would work.  Tuesday - Thurs I'm at Harvard, but I can work around that.

[2017-11-09 14:38] heather999 opened #49 "Try QA Parquet Table Interface"
Mentioned in #46

- Watch https://jira.lsstcorp.org/browse/DM-12038
- Contact @timothydmorton
- pip install fastparquet

References
https://jira.lsstcorp.org/browse/DM-10619
https://jira.lsstcorp.org/browse/DM-11683
https://jira.lsstcorp.org/browse/DM-12030

[2017-11-13 16:07] cwwalter commented on #46
In the spirit of trying to consolidate DESC related info, I wanted to copy some information to here from the associated JIRA ticket https://jira.lsstcorp.org/browse/DM-11452.  This is about what information we would get added to the output by running at least V14 of the stack.  Several of the things @laurenam checks were not in V13. This is also relevant to #47.

[code]

[2017-11-13 18:05] jchiang87 commented on #47
@heather999 @jamesp-epcc The DC1 undithered eimage data are here at NERSC:
[code]
I would pick 5 or so visits in sequence and copy the data from the central raft (R_2_2) to local directory for ingesting via `ingestSimImages.py` and then run through the Twinkles cookbook as we discussed on zoom today.  You should be able to use the same reference catalog file that worked for the QA plot testing.

[2017-11-13 23:04] fjaviersanchez opened #50 "Write down details about dithering strategy/dithering effort"
In this folder (https://github.com/LSSTDESC/SSim_DC1/tree/master/DC1_DESC_Note) I am writing down details about DC1. In principle, this is intended to be a DESC note and serve as documentation of what we've done. Potentially it could grow into a paper if we think this is enough (in my opinion it is but we'll discuss about it). This is a separated document from the one that describes the LSS analys

[2017-11-20 13:01] jamesp-epcc commented on #47
I have had a go at running the scripts on the L2_demo data. I had trouble getting the ingest to work initially, it was throwing an error in a call to fcntl.flock, but running in $SCRATCH instead of $HOME seems to fix this. It must be related to the type of file system. (I also had to pass in `eimages/lsst_*.fits.gz` rather than `eimages/lsst_*.py` as in the run_L2.sh script).
In the next stage (pr

[2017-11-22 10:38] jamesp-epcc commented on #47
I've got a bit further with this now. It turns out the "future" package was already installed, but the `processEimage.py` script started with `#!/usr/bin/env python2`, so it was running in the default Python 2.7 instead of Python 3 with all the LSST packages. I fixed this by making a local copy and editing it.
Now, `processEimage.py` runs and produces a lot of output files, but it isn't fully work

[2017-11-22 17:11] SimonKrughoff commented on #47
@cwwalter I just noticed I was at-ed here.  Do you still need input from me?

[2017-11-22 17:15] cwwalter commented on #47
There is a deblendeness variable we would like and wasn't available in v13.  I remember you told me this is a different algorithm that needs to be turned on and it wouldn't happen by default. So, I was wondering what we had to do to turn that on.

BTW generically I wonder: how do we know we are turning on everything we need.

[2017-11-22 17:27] SimonKrughoff commented on #47
I'm drawing a blank on the deblendedness front.

The only way we can do this is to give catalogs to the working groups and see if they complain.  I don't know another way.  Obviously, we should show the config to interested parties to get feedback beforehand, but experience shows that we don't really know what we want until we get the data in hand.

[2017-11-22 17:47] cwwalter commented on #47
People like @laurenam may also know what she needs turned on for her QA scripts.

BTW  @laurenam do you remember about the deblendedness variable?

[2017-11-22 19:51] laurenam commented on #47
I think **base_Blendedness** is what you’re after: https://github.com/lsst/meas_base/blob/master/python/lsst/meas/base/sfm.py#L133
This doc says v14 has it on by default:
https://github.com/lsst/pipelines_lsst_io/blob/master/releases/note-source/v14_0.rst#blendedness-calculation-is-run-by-default

[2017-11-22 23:23] cwwalter commented on #47
Thanks @laurenam!

[2017-11-25 02:24] fjaviersanchez opened #51 "Update scripts in this repo"
The notebooks in the repo are outdated. It would be good if we updated them to point to the correct paths and clean them from unnecessary stuff (for example we have things like the flags unpacking that should be now deprecated).

[2017-11-25 03:24] fjaviersanchez opened #52 "perform psf and shape tests on DC1"
@rmandelb suggested here: https://github.com/LSSTDESC/DC2_Repo/issues/33#issuecomment-342885951 some tests that could/should be done with DC1.

* PSF tests (started here: https://github.com/LSSTDESC/SSim_DC1/blob/master/Notebooks/PSF_test.ipynb)

* Other tests using galaxy shapes.

[2017-11-27 00:52] rmandelb commented on #52
It would be valuable to use some standard lensing measures of PSF model fidelity, like rho statistics and fractional PSF size errors, since we know how those propagate into shear biases.  Since your code already can produce the true PSF and the estimated PSF (i.e., the PSF model at the position of individual objects), it should be quite easy to calculate the rho statistics.

See for example sectio

[2017-11-27 03:41] cwwalter commented on #51
I have analysis scripts that need to be updated including a catalog matcher that could be generally usable and modified and copied to here:

https://github.com/cwwalter/DC1_Analysis/tree/master/Scripts

It might be nice to update and combine these so there is a program people can modify to get the output they want and also produce a source matched catalog people can use. Issues with them now:

1)

[2017-11-27 23:26] fjaviersanchez commented on #52
Thanks @rmandelb I'll try to start it myself if I have time before the sprint. In any case, I am creating a project for the hack week in case that there's people interested in doing this :)

[2017-11-28 17:58] fjaviersanchez commented on #48
This is the first version of an attempt to have a DC1 landing page https://confluence.slac.stanford.edu/pages/viewpage.action?spaceKey=LSSTDESC&title=DC1

@drphilmarshall @cwwalter please, let me know if you have any suggestions about the page or the place where it's hosted (maybe you think that a page à la `readthedocs` might be a better)

[2017-11-28 18:02] cwwalter commented on #48
Great. I think it should be on the confluence.  I'm not sure of exactly where though.

[2017-11-28 18:04] cwwalter commented on #48
Oops.. got sent to early.  I think have a DC page off of the computing working groups page like you have now is reasonable.

[2017-12-04 17:23] kadrlica opened #53 "Help with Notebook Tutorials"
At the Argonne sprint week it was suggested that some of the notebook tutorials could be updated and that the documentation of the content of notebooks could be made clearer.  I'm going to try to tackle this with the hope that in the process I'll learn something about DC1.

[2017-12-04 17:27] cwwalter commented on #53
Also see #51.

[2017-12-04 17:27] kadrlica commented on #53
Specific goals:
* Learn about DC1 products and access (personal goal for @kadrlica)
* Clean code rot from tutorials
* Improve documentation/clear structure

This seems to be related to #51

[2017-12-04 17:30] kadrlica commented on #53
@cwwalter and @fjaviersanchez would it be better to close this issue and move to #51?

[2017-12-04 17:31] cwwalter commented on #53
I think so... They are basically duplicates.  You can edit the #51 title to say scripts and notebooks if you want.

[2017-12-04 17:35] fjaviersanchez commented on #53
Ok, let's move to #51. I'll post there the paths and notebooks that we want to update

[2017-12-04 17:35] #53 closed

[2017-12-04 17:49] fjaviersanchez commented on #51
We have several notebooks:

* I think that the two in the directory https://github.com/LSSTDESC/SSim_DC1/tree/master/Notebooks/Dask are good to just read the data. We can add more plots to the Validation notebook.

* This notebook should also be updated and might be useful for people that want to use the butler: https://github.com/LSSTDESC/SSim_DC1/blob/master/scripts/QA_general/Test_DC1.ipynb

*

[2017-12-04 18:04] fjaviersanchez opened #54 "Check the DESC note and finish it up"
@kadrlica and I will try to revise the note here: https://github.com/LSSTDESC/SSim_DC1/blob/master/DC1_DESC_Note/DC1_DESC_Note.pdf

The main goal is try to have a more streamlined version by the end of the week.

[2017-12-05 02:08] humnaawan commented on #51
@fjaviersanchez  I was using ipython with port forwarding; the details are nicely detailed [here](https://coderwall.com/p/ohk6cg/remote-access-to-ipython-notebooks-via-ssh).

[2017-12-06 23:17] kadrlica commented on #51
[Butler access demo.ipynb](https://github.com/LSSTDESC/SSim_DC1/blob/master/Notebooks/Butler%20access%20demo.ipynb) work out of the box.

[2017-12-07 20:47] kadrlica commented on #51
I think the existing notebooks have all been validated with a current version of the LSST DESC Jupyter-dev kernel.

[2018-04-05 11:13] fjaviersanchez commented on #43
I think this is solved. Please @cwwalter feel free to re-open it if you think this is still relevant

[2018-04-05 11:13] #43 closed

[2018-04-05 11:13] #48 closed

[2018-04-05 11:15] fjaviersanchez commented on #24
I think that this is not relevant anymore so I'm closing this (please, feel free to reopen @cwwalter)

[2018-04-05 11:15] #24 closed

[2018-04-05 11:16] fjaviersanchez commented on #39
We have extensively studied this for DC2 in https:/github.com/DC2_repo/issues/140 so I think this is solved.

[2018-04-05 11:16] #39 closed

[2018-04-05 11:22] fjaviersanchez commented on #51
I think this is done thanks to the amazing work of @kadrlica!

[2018-04-05 11:23] fjaviersanchez commented on #36
@danielsf @cwwalter I think this is solved for DC2, right?

[2018-04-05 13:55] cwwalter commented on #36
Yes. I think so.  There are still constant discussions about the difference in conventions (see the eye scanning room yesterday for example) but I think we can close this issue.

[2018-04-05 13:55] #36 closed

[2019-11-25 14:56] #50 closed